body {
    background-color: #A9A9A8;
}

.LoginArea{
    position: relative;
    background: #2196f3;
    margin-top: 50px;
    width: 300px;
    height: 420px;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    text-align: center;    
}

.LoginTitle{
    font-family: impact;
    font-size: 35px;
    color: whitesmoke;
    padding-bottom: 20px;
    /* text-shadow: 2px 2px #A9A9A8; */
}

.input-field input[type=text], .input-field input[type=password] {
    background-color: rgb(230, 230, 230);
    font-size: 25px;
    height: 45px;
    margin-bottom: 15px;
}

#password{
    margin-bottom: 0px;
}

.input-field input[type=text] + .input-label, .input-field input[type=password] + .input-label {
    font-size: 25px;
    line-height: 0.5;
}

.input-field input[type=text]:focus + .input-label, .input-field input[type=password]:focus + .input-label {
    color: whitesmoke !important;
}

.input-field input[type=text]:focus, .input-field input[type=password]:focus {
    border-bottom: 3px solid orange !important;
}

.btn {
    font-family: sans-serif;
    width: 100%;
    font-size: 20px;
    color: black;
    background-color: orange;
}

.credentials{
    color: lime;
    font-family: monospace;
    margin-bottom: 30px;
}

.btn:hover{
    background-color: red;
    color: white;
}